{% extends "base.html" %}
{% load cms_tags static %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block css %}
{{block.super}}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" type="text/css">

<style>
body {
  display: flex;
  padding: 0;
  margin: 0;
  height: 100%;
  font-weight: 400;
}

/* webkit patch */
.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}
/* end webkit patch */
</style>
{% endblock css %}


{% block extracss %}
{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static 'djangocms_pai_material_components_web/node_modules/@material/layout-grid/dist/mdc.layout-grid.min.css' %}">
{% endblock extracss %}


{% block extra_body_classes %} mdc-typography {% endblock extra_body_classes %}

{% block content %}
  {% placeholder "content" %}
{% endblock content %}


{% block extrajs %}
{{block.super}}
{% endblock extrajs %}

{% block jsready %}
{{block.super}}
{% endblock jsready%}
